.mat_style {
  position: absolute;
  top: 375px;
  left: 365px
}

.key_style {
  position: absolute;
  top: 458px;
  left:365px;
}

.laptop_style {
  position: absolute;
  top: 440px;
  left: 420px;
}